name: Publish

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        ar: ['21x9', '32x9', '48x9']
    steps:
    - name: Check Tag
      id: check-tag
      uses: actions-ecosystem/action-regex-match@v2
      with:
        text: ${{ github.ref_name }}
        regex: '^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$'
    - name: Fail if invalid
      if: steps.check-tag.outputs.match == ''
      uses: Actions/github-script@v3
      with:
        script: |
          core.setFailed('Invalid tag')

    - uses: actions/checkout@v2
    - name: Download SUWSF
      uses: dsaltares/fetch-gh-release-asset@master
      id: SUWSF
      with:
        repo: "PhantomGamers/SUWSF"
        file: "SUWSF.zip"
        target: "SUWSF.zip"
        token: ${{ secrets.GITHUB_TOKEN }}
    
    - name: Prepare release
      run: |
        mkdir -p SH9/Content/Paks/~mods
        mkdir -p SH9/Binaries/Win64
        unzip SUWSF.zip -d SH9/Binaries/Win64
        mv SH9/Binaries/Win64/*.dll SH9/Binaries/Win64/dsound.dll || true
        cp ${{ matrix.ar }}/SUWSF.ini SH9/Binaries/Win64
        cp ${{ matrix.ar }}/666-FOVFix.pak SH9/Content/Paks/~mods
        zip -r "SHCO-WSF-${{ matrix.ar }}-${{ github.ref_name }}.zip" SH9
    
    - name: Create release
      uses: ncipollo/release-action@v1
      with:
        artifacts: "SHCO-WSF-${{ matrix.ar }}-${{ github.ref_name }}.zip"
        draft: true
        allowUpdates: true
        token: ${{ secrets.GITHUB_TOKEN }}


        
    